body {
  /* background-color: #c5f1f7; */
  background-image: url("../images/instrument.jpg");
  background-blend-mode:luminosity;
  font-family:'Merriweather';
  text-align:center;
}

h1 {
  color: dark;
  text-align: center;
  display: grid;
}
p {
  font-family: fantasy;
  background-color: white;
  background-clip: content-box;
  padding-left: 150px;
  padding-right: 150px;
}

ul {
  text-align: center;
  text-transform: uppercase;
  display: grid;
  grid-template-columns: repeat(auto-fit, 130px);
  grid-column-gap: 1em;
  justify-content: center;
  align-items: center;
  color: red;
  list-style-type: none;
  cursor: pointer;

}


li {
  background-color: red;
  color: white;
  border-radius: 7px;
}
