body {
  background-color: #c5f1f7;
  background-image: url("../images/instrument.jpg");
  font-family:'Merriweather';
  text-align:center;
}

h1 {
    color: dark;
    text-align: center;
}
ul {
  text-align: center;
  text-transform: uppercase;
   display: grid;
   grid-template-columns: repeat(auto-fit, 120px);
   grid-column-gap: 1em;
   justify-content: center;
   align-items: center;
   color: red;
    list-style-type: none;
    cursor: pointer;
    padding: 5px;
    margin: 3px;
    border-radius: 10px;
}


ul li:hover {
    background-color: red;
    color: white;
}
